.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots li span:before,
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-loading .slick-list {
  background: url(./../img/ajax-loader.gif) center center no-repeat #fff;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;

  &:focus,
  &:hover {
    color: transparent;
    outline: 0;
    background: 0 0;

    &:before {
      opacity: 1;
    }
  }

  &.slick-disabled:before {
    opacity: 0.25;
  }

  &:before {
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: #fff;
  }
}

.slick-prev {
  left: -25px;

  &:before {
    content: "←";
  }  
}

.slick-next {
  right: -25px;

  &:before {
    content: "→";
  }
}

[dir="rtl"] {
  .slick-prev {
    right: -25px;
    left: auto;

    &:before {
      content: "→";
    }
  }

  .slick-next {
    right: auto;
    left: -25px;
  
    &:before {
      content: "←";
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

// .slick-dots {
//   bottom: -25px;
//   width: 100%;
//   margin: 0;
//   list-style: none;
//   text-align: center;

//   li {
//     position: relative;
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     margin: 0 5px;
//     padding: 0;
//     cursor: pointer;

//     button {
//       font-size: 0;
//       line-height: 0;
//       display: block;
//       width: 20px;
//       height: 20px;
//       padding: 5px;
//       cursor: pointer;
//       color: transparent;
//       border: 0;
//       outline: 0;
//       background: 0 0;

//       &:before {
//         font-size: 6px;
//         line-height: 20px;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 20px;
//         height: 20px;
//         content: "•";
//         text-align: center;
//         opacity: 0.25;
//         color: #000;
//       }
    
//       &:focus,
//       &:hover {
//         outline: 0;

//         &:before {
//           opacity: 1;
//         }
//       }
//     }

//     &.slick-active button:before {
//       opacity: 0.75;
//       color: #000;
//     }
//   }
// }

.slick-dots {
  text-align: center;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;

  li {
    display: inline-block;
    zoom: 1;
    cursor: pointer;

    span {
      background: #333 !important;
      width: 10px;
      height: 10px;
      margin: 10px;
      display: block;
      border-radius: 2px;
      opacity: 0.25;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      font-size: 0;
      line-height: 0;
      border: 0;
      outline: 0;
      background: 0 0;
      position: relative;

      &:after {
        position: absolute;
        height: 2px;
      }
    }

    &:hover span {
      opacity: 1;
    }
    
    &.slick-active span  {
      opacity: 1;
      -webkit-animation: animation 1000ms linear both;
      animation: animation 1000ms linear both;
    }

    @-webkit-keyframes animation {
      0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      3.4% { -webkit-transform: matrix3d(1.158, 0, 0, 0, 0, 1.203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.158, 0, 0, 0, 0, 1.203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      4.7% { -webkit-transform: matrix3d(1.225, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.225, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      6.81% { -webkit-transform: matrix3d(1.33, 0, 0, 0, 0, 1.446, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.33, 0, 0, 0, 0, 1.446, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      9.41% { -webkit-transform: matrix3d(1.442, 0, 0, 0, 0, 1.584, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.442, 0, 0, 0, 0, 1.584, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      10.21% { -webkit-transform: matrix3d(1.471, 0, 0, 0, 0, 1.613, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.471, 0, 0, 0, 0, 1.613, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      13.61% { -webkit-transform: matrix3d(1.562, 0, 0, 0, 0, 1.666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.562, 0, 0, 0, 0, 1.666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      14.11% { -webkit-transform: matrix3d(1.57, 0, 0, 0, 0, 1.665, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.57, 0, 0, 0, 0, 1.665, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      17.52% { -webkit-transform: matrix3d(1.604, 0, 0, 0, 0, 1.62, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.604, 0, 0, 0, 0, 1.62, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      18.72% { -webkit-transform: matrix3d(1.606, 0, 0, 0, 0, 1.594, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.606, 0, 0, 0, 0, 1.594, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      21.32% { -webkit-transform: matrix3d(1.598, 0, 0, 0, 0, 1.535, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.598, 0, 0, 0, 0, 1.535, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      24.32% { -webkit-transform: matrix3d(1.575, 0, 0, 0, 0, 1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.575, 0, 0, 0, 0, 1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      25.23% { -webkit-transform: matrix3d(1.567, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.567, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      29.03% { -webkit-transform: matrix3d(1.531, 0, 0, 0, 0, 1.448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.531, 0, 0, 0, 0, 1.448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      29.93% { -webkit-transform: matrix3d(1.524, 0, 0, 0, 0, 1.449, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.524, 0, 0, 0, 0, 1.449, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      35.54% { -webkit-transform: matrix3d(1.49, 0, 0, 0, 0, 1.481, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.49, 0, 0, 0, 0, 1.481, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      36.74% { -webkit-transform: matrix3d(1.486, 0, 0, 0, 0, 1.489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.486, 0, 0, 0, 0, 1.489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      41.04% { -webkit-transform: matrix3d(1.48, 0, 0, 0, 0, 1.511, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.48, 0, 0, 0, 0, 1.511, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      44.44% { -webkit-transform: matrix3d(1.483, 0, 0, 0, 0, 1.516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.483, 0, 0, 0, 0, 1.516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      52.15% { -webkit-transform: matrix3d(1.496, 0, 0, 0, 0, 1.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.496, 0, 0, 0, 0, 1.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      59.86% { -webkit-transform: matrix3d(1.503, 0, 0, 0, 0, 1.495, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.503, 0, 0, 0, 0, 1.495, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      63.26% { -webkit-transform: matrix3d(1.504, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.504, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      75.28% { -webkit-transform: matrix3d(1.501, 0, 0, 0, 0, 1.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.501, 0, 0, 0, 0, 1.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      85.49% { -webkit-transform: matrix3d(1.499, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.499, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      90.69% { -webkit-transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      100% { -webkit-transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    }

    @keyframes animation {
      0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      3.4% { -webkit-transform: matrix3d(1.158, 0, 0, 0, 0, 1.203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.158, 0, 0, 0, 0, 1.203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      4.7% { -webkit-transform: matrix3d(1.225, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.225, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      6.81% { -webkit-transform: matrix3d(1.33, 0, 0, 0, 0, 1.446, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.33, 0, 0, 0, 0, 1.446, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      9.41% { -webkit-transform: matrix3d(1.442, 0, 0, 0, 0, 1.584, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.442, 0, 0, 0, 0, 1.584, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      10.21% { -webkit-transform: matrix3d(1.471, 0, 0, 0, 0, 1.613, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.471, 0, 0, 0, 0, 1.613, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      13.61% { -webkit-transform: matrix3d(1.562, 0, 0, 0, 0, 1.666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.562, 0, 0, 0, 0, 1.666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      14.11% { -webkit-transform: matrix3d(1.57, 0, 0, 0, 0, 1.665, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.57, 0, 0, 0, 0, 1.665, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      17.52% { -webkit-transform: matrix3d(1.604, 0, 0, 0, 0, 1.62, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.604, 0, 0, 0, 0, 1.62, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      18.72% { -webkit-transform: matrix3d(1.606, 0, 0, 0, 0, 1.594, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.606, 0, 0, 0, 0, 1.594, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      21.32% { -webkit-transform: matrix3d(1.598, 0, 0, 0, 0, 1.535, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.598, 0, 0, 0, 0, 1.535, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      24.32% { -webkit-transform: matrix3d(1.575, 0, 0, 0, 0, 1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.575, 0, 0, 0, 0, 1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      25.23% { -webkit-transform: matrix3d(1.567, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.567, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      29.03% { -webkit-transform: matrix3d(1.531, 0, 0, 0, 0, 1.448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.531, 0, 0, 0, 0, 1.448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      29.93% { -webkit-transform: matrix3d(1.524, 0, 0, 0, 0, 1.449, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.524, 0, 0, 0, 0, 1.449, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      35.54% { -webkit-transform: matrix3d(1.49, 0, 0, 0, 0, 1.481, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.49, 0, 0, 0, 0, 1.481, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      36.74% { -webkit-transform: matrix3d(1.486, 0, 0, 0, 0, 1.489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.486, 0, 0, 0, 0, 1.489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      41.04% { -webkit-transform: matrix3d(1.48, 0, 0, 0, 0, 1.511, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.48, 0, 0, 0, 0, 1.511, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      44.44% { -webkit-transform: matrix3d(1.483, 0, 0, 0, 0, 1.516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.483, 0, 0, 0, 0, 1.516, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      52.15% { -webkit-transform: matrix3d(1.496, 0, 0, 0, 0, 1.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.496, 0, 0, 0, 0, 1.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      59.86% { -webkit-transform: matrix3d(1.503, 0, 0, 0, 0, 1.495, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.503, 0, 0, 0, 0, 1.495, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      63.26% { -webkit-transform: matrix3d(1.504, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.504, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      75.28% { -webkit-transform: matrix3d(1.501, 0, 0, 0, 0, 1.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.501, 0, 0, 0, 0, 1.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      85.49% { -webkit-transform: matrix3d(1.499, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.499, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      90.69% { -webkit-transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      100% { -webkit-transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    }
  }
}

.slick-dots span {  
  .owl-dot-el-1,
  .owl-dot-el-2,
  .owl-dot-el-3 {
    position: absolute;
    z-index:20;
  }
}

.desktop-app .slick-dots li {
  span {
    width: 30px;
    height: 20px;

    .owl-dot-el-1 {
      height: 1px;
      border-radius: 2px;
      top: 1px;
      left: 1px;
      right: 1px;
      width: auto;
    }

    .owl-dot-el-2 {
      border-radius: 1px 1px 0 0;
      bottom: 1px;
      left: 5px;
      right: 5px;
      width: auto;
      height: 2px;
    }

    .owl-dot-el-3 {
      display: none;
    }
  }
}

.iphone .slick-dots li {
  span {
    width: 10px;
    height: 20px;

    .owl-dot-el-1 {
      bottom: 1px;
      left: 4px;
      width: 2px;
      height: 2px;
      border-radius: 100%;
    }
    
    .owl-dot-el-2,
    .owl-dot-el-3 {
      display: none;
    }
  }
}

.ipadlandscape .slick-dots li {
  span {
    width: 24px;
    height: 20px;

    .owl-dot-el-1 {
      left: 21px;
      bottom: 8px;
      width: 2px;
      height: 2px;
      border-radius: 100%;
    }
    .owl-dot-el-2,
    .owl-dot-el-3 {
      display: none;
    }
  }
}

.ipad .slick-dots li { // add .portrait class
  span {
    width: 16px;
    height: 20px;

    .owl-dot-el-1 {
      left: 7px;
      bottom: 1px;
      width: 2px;
      height: 2px;
      border-radius: 100%;
    }
    .owl-dot-el-2,
    .owl-dot-el-3 {
      display: none;
    }
  }
}

.website .slick-dots li {
  span {
    width: 30px;
    height: 20px;

    .owl-dot-el-1,
    .owl-dot-el-2,
    .owl-dot-el-3 {
      height: 1px;
      width: 1px;
      border-radius: 999em;
      top: 2px;
    }
    .owl-dot-el-1 {
      left: 2px;
    }
    .owl-dot-el-2 {
      left: 4px;
      opacity: .3;
    }
    .owl-dot-el-3 {
      left: 6px;
      opacity: .3;
    }
  }
}