@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins/_gradients.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600');

.site-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 0;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  @include media-breakpoint-up(md) {
    &:hover{
      & > .section{
        filter: brightness(22%);
      }
      & > .section:hover{
        filter: brightness(100%);
      }
    }
  }

  .section {
    flex-grow: 1;
    position: relative;
    height: 33.3333%;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    text-decoration: none;
    width: 100%;

    &-bg-img {
      position: absolute;
      top: 0;
      z-index: -1;
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      &:before {
        content: '';
        @include gradient-y($start-color: transparentize(#555, 1), $end-color: #333, $start-percent: 0%, $end-percent: 100%);
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
      }
    }

    @include media-breakpoint-up(md) {
      height: 100%;
    }

    .section-title {
      position: absolute; // relative if you want to wrap the width around the text
      margin: auto;
      width: 100%;
      height: auto;
      text-align: center;
      bottom: 2vh;

      @include media-breakpoint-up(md) {
        bottom: 6vh;
      }

      h1 {
        text-transform: uppercase;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
        margin: 0;
        transition: font-size 0.3s;
        vertical-align: middle;
        padding: 0 1em;
        font-size: 8vw;

        @include media-breakpoint-up(md) {
          font-size: 2.5vw;
        }
      }
      h3 {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        transition: all 0.3s;
        color: white;
        letter-spacing: 3px;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
        font-size: 4vw;

        @include media-breakpoint-up(md) {
          font-size: 1vw;
        }
      }
    }

    .section-description {
      position: relative;
      display: block;
      text-align: center;
      width: 80vw;
      height: auto;
      margin: auto;
      transition: opacity 0.8s, transform 0.7s, padding-top 0.9s;
      padding-top: 6vh;
      transform: scale(1);

      @include media-breakpoint-up(md) {
        opacity: 0;
        width: 20vw;
      }

      p {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 12px;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
      }
    }

    @include media-breakpoint-up(md) {
      &:hover {
        flex-grow: 1.8;
        transition: flex 0.2s;

        & > .section-title h1 {
          font-size: 3vw;
          transition: font-size 0.4s;
        }

        & > .section-title h3 {
          font-size: 1.6vw;
          transition: all 0.4s;
        }

        & > .section-description {
          opacity: 1;
          padding-top: 4vh;
          transform: scale(1.5);
          transition: opacity 0.7s, padding-top 0.5s, transform 0.1s;
          transition-delay: 0s, 0.1s, 0s;
        }
      }
    }
  }
}